:root {
    --carousel-arrow-bg: rgb(26 26 26 / .25);
    --carousel-arrow-bg-hover: rgb(26 26 26 / .5);
    --carousel-arrow-shadow: 0 0 1rem rgb(255 255 255 / .25);
    --clr-accent: #6480c5;
}

@media (prefers-color-scheme: light) {
    :root {
        --carousel-arrow-bg: rgb(255 255 255 / .3);
        --carousel-arrow-bg-hover: rgb(255 255 255 / .5);
        --carousel-arrow-shadow: 0 0 1rem rgb(0 0 0 / .25);
        --clr-accent: #3b4d7c;
    }
}

z-carousel:not(:defined) {
    display: none;
}

z-carousel.styled {
    box-sizing: border-box;
    border-radius: 10px;
}

z-carousel.styled::part(content) {
    align-items: center;
    scroll-behavior: smooth;
}

z-carousel.styled::part(nav-btn) {
    position: absolute;
    top: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: var(--carousel-arrow-bg);
    backdrop-filter: blur(5px);
    box-shadow: var(--carousel-arrow-shadow);
    transition-property: background-color, backdrop-filter;
    transition-duration: .3s;
}

z-carousel.styled::part(nav-btn):hover {
    background-color: var(--carousel-arrow-bg-hover);
    backdrop-filter: blur(5px);
}

z-carousel.styled::part(nav-btn):focus-visible {
    outline: .125rem auto var(--clr-accent);
}

z-carousel.styled::part(nav-btn nav-btn--disabled) {
    opacity: .5;
    pointer-events: none;
    box-shadow: none;
}

z-carousel.styled::part(nav-btn nav-btn--prev) {
    left: 10px;
    transform: translate(10px, -50%);
}

z-carousel.styled::part(nav-btn nav-btn--next) {
    right: 10px;
    transform: translate(-10px, -50%);
}

z-carousel.styled::part(pagination) {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 10px;
    border-top-right-radius: 5px;
    backdrop-filter: blur(5px);
    background: var(--carousel-arrow-bg);
    pointer-events: none;
}

z-carousel.styled::part(dots) {
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background: var(--carousel-arrow-bg);
    box-shadow: var(--carousel-arrow-shadow);
    backdrop-filter: blur(5px);
    border-radius: 9999px;
}

z-carousel.styled::part(dots-item) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .75rem .5rem;
    transition: color .3s;
    font-size: 0;
    line-height: 0;
}

z-carousel.styled::part(dots-item)::before {
    content: '';
    width: .25rem;
    height: .25rem;
    background-color: currentColor;
    border-radius: 50%;
}

z-carousel.styled::part(dots-item dots-item--active)::before {
    width: .75rem;
    height: .75rem;
    box-shadow: var(--carousel-arrow-shadow);
}

z-carousel.styled::part(dots-item dots-item--active),
z-carousel.styled::part(dots-item dots-item--active):hover {
    color: var(--clr-accent);
}

z-carousel.styled > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
